@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Mono&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    color: #252525;  
    text-align: center;    
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(238, 7, 7);
    background: linear-gradient(
        45deg,
        rgba(255,255,255,1) 0%,
        rgba(70,130,180,1) 0%,
        rgba(238,238,238,1) 50%,
        rgba(255,165,0,1) 100%
    );
    display: grid;
    place-content: center;

}


.container {
    width: 90vw;
    max-width: 500px ;
    background-color: #cecece;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(8 , 2fr);
    padding: 10px;
    border-radius: 15px;
    
}

.container:focus-within {
    background-color: seagreen;
}

.header {
    grid-row: 1 / 1 ;
    grid-column: 1 / 5;
}

.header > h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 0.85rem;

    
}


.previousvalue {
    grid-row: 2 / 2;
    grid-column: 1 / 5 ;

    display: flex;
    justify-content: flex-end;
}

.currentvalue {
    grid-row: 3 / 4;
    grid-column: 1 / 5;

    font-size: 3rem;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-family: "Roboto Mono" , monospace;

}

button {
    display: grid;
    place-content: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    border-radius: 15px;
    outline: none;

}

button:hover , 
button:active {
    background-color: rgb(163, 248, 6);
}

.function{
    background-color: #e5a5d5;
}


.equals {
    background-color: rgb(70,130,180);
}

.equals:hover,
.equals:active{
    background-color: sandybrown;
    filter: brightness(120%);
}

